body{
	
	font-size: 15px;
	line-height: 20px;
	margin: 0px;
	background-color: #E8F4E2;
	font-family: helvetica, arial, sans-serif;
	
}


main{
	padding: 5px;
}

main img{
	text-align: center;
	margin: auto;
}

header{
	background-color: #235E03;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0px;
	
}

header h1{
	font-family: Underdog, extra-expanded;
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 150px;
	border-style: solid;
	border-width: 10px;
	border-color: white;
}


 h2{
 	font-size: 25px;
 }

 a{
 	color: #5233BD;
 	font-style: italic, underline;

 }

 a:hover {
 	background-color: red;
 	color: white;
 }

 footer{
 	text-align: center;
 	background-color: #235E03;
 	padding: 50px;
 	margin: 0px;

 }

 footer p{
 	margin: 0px;
 }

 p.caption{
 	color: grey;
 	font-style: italic;
 	margin-top: 0px;
 }